pkgbase = nordlayer
	pkgdesc = Proprietary VPN client for linux
	pkgver = 3.1.0
	pkgrel = 0
	url = https://nordlayer.com
	install = nordlayer.install
	arch = i686
	arch = x86_64
	license = custom
	depends = bash
	conflicts = nordvpnteams-bin
	replaces = nordvpnteams-bin
	options = !strip
	options = !emptydirs
	source_x86_64 = https://downloads.nordlayer.com/linux/latest/debian/pool/main/nordlayer_3.1.0_amd64.deb
	sha512sums_x86_64 = 8e8f369db2bd6ada11564ab8be06f9faa6efa1a11f324956698c3b8b2da8a489ca685ed68e4e775e05e17e363a661f0af6e5c05d6d3cff76ed83e032ef815cdb

pkgname = nordlayer
